sudo: false
osx_image: xcode7
language: objective-c
cache:
  directories:
    - node_modules
    - .nvm
before_install:
  - brew reinstall nvm
  - mkdir -p .nvm
  - export NVM_DIR="$PWD/.nvm"
  - source $(brew --prefix nvm)/nvm.sh
  - nvm install 5
  - npm install
  - npm install -g react-native-cli
  - "echo 'gem: --no-ri --no-rdoc' > ~/.gemrc"
script:
  - npm run test
  - npm run build
  - open -b com.apple.iphonesimulator
  - ./scripts/ios-test.sh
after_success:
  - npm run codecov
  - '[ "${TRAVIS_PULL_REQUEST}" = "false" ] && ./scripts/ios-import-certs.sh || false'
  - '[ "${TRAVIS_PULL_REQUEST}" = "false" ] && ./scripts/ios-download-profiles.sh || false'
  - 'travis_wait sh [ "${TRAVIS_PULL_REQUEST}" = "false" ] && ./scripts/ios-build-adhoc.sh || false'
  - '[ "${TRAVIS_PULL_REQUEST}" = "false" ] && ./scripts/ios-deploy-deploygate.sh || false'
